.categoryTab{
    border: none;
    .nav-item{
        margin: 0;
        padding-right: 5px;
        &:last-child{
            padding-right: 0;
        }
        .nav-link{
            padding: 0;
            border: none;   
            background: transparent;
            font-size: 20px;
            &.active{
                color: $primary-color;
            }
        }
    }
}