
.banner {
    position: relative;
    .banner-slider{
        .slider-track {
            transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
        }
        .slick-slide{
            height: calc(100vh - 130px);
            img{
                object-fit: cover;
                object-position: top center;
                height: 100%;
                transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
                transform: scale(1.1);
            }
            &.slick-active {
                img {
                    transform: scale(1);
                }
            }
        }
        
    }
    .parallax{
        object-fit: cover;
        object-position: top center;
    }
    .parallax-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white-color;
        background: transparentize($black-color, 0.3);
        padding: 15px 0 30px;
        .breadcrumb-nav{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            padding-top: 30px;
            li{ 
                &:after{
                    color: $white-color;
                }
                a{
                    color: $white-color;
                    &:hover{
                        color: $primary-color;
                    }
                }
                &.active{
                    color: transparentize($white-color, 0.3);
                }
            }
        }
        h1{
            margin:0 0 15px;
            max-width: 900px;
            font-size: 3.2rem;
            color: $white-color;
            @media screen and (max-width: $break-md) {
                font-size: 24px;
                line-height: 1.5;
            }
        }
        p{
            max-width: 700px;
            margin-bottom: 20px;
            padding-left: 30px;
            font-style: italic;
            position: relative;
            color: $white-color;
            font-size: 1rem;
            line-height: 1.45;
            &:before{
                position: absolute;
                top: 5px;
                right: auto;
                bottom: 5px;
                left: 0;
                display: block;
                width: 15px;
                background-color: transparent;
                background-image: radial-gradient(currentColor 1px,transparent 1px);
                background-position: 1px 1px;
                background-size: 5px 5px;
                content: '';
                opacity: .7;
            }
        }
        a{
            color: $white-color;
            &:hover{
                color: $primary-color;
            }
        }
    }
    
    &.fullscreen{
        .parallax{
            height: 100vh;
        }
        .parallax-content
        {
            p{
                &:before{
                    display: none;
                }
            }
        }
    }
}
.post-meta{
    li{
        @media screen and (max-width: $break-md) {
            white-space: nowrap;
            line-height: 1;
            display: inline-flex;
        }
    }
}
.homeFour{
    .blog_item-wrapper{
        height: 500px;
        @media screen and (max-width: $break-md) {
            height: 300px;
        }
    }
}
.homeFive{
    .card{
        @include box-shadow(0, 4px, 15px, 0, transparentize($black-color, 0.95));
    }
}

