.subscribe {
    background: url(../image/bg-1.jpg) no-repeat top center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    .input-group {
        max-width: 490px;
        margin: 0 auto;
        border: 2px solid $primary-color;
        overflow: hidden;
        padding: 5px;
        @include border-radius(4px);
        .btn {
            @include border-radius(4px);
        }
        .form-control {
            height: 43px;
            color: $white-color;
            &:focus {
                background: transparent;
                border: none;
            }
            &::-webkit-input-placeholder {
                color: $gray-color;
            }
            &:-ms-input-placeholder {
                color: $gray-color;
            }
            &::placeholder {
                color: $gray-color;
            }
        }
    }
}