.testimonials{
    background: $lighter-color;
    text-align: center;
    @include border-radius(4px);
    position: relative;
    margin: 75px 0 30px;
    padding: 60px 20px 30px;
    .author{
        width: 90px;
        height: 90px;
        background: $lighter-color;
        border: 4px solid $white-color;
        @include border-radius(50%);
        display: flex;
        display: -ms-flexbox;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translate(-50%, -50%));
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h4{
        font-size: $font-size + 6;
        font-weight: 500;
        color: $dark-blue-color;
        margin: 0 0 20px;
    }
    p{
        font-size: $font-size + 2;
        color: $gray-color;
        line-height: 28px;
        margin-bottom: 15px;
    }
    ul{
        li{
            a{
                color: $dark-blue-color;
                font-size: $font-size + 4;
                padding: 5px;
                &:hover, &:focus{
                    color: $primary-color;
                }
            }
        }
    }
}