///////////////////// Theme Color ///////////////
$primary-color: #624be1;
$dark-blue-color: #16202b;
$yellow-color: #ffc82c;
$info-color: #00aff0;
$light-color: #eaeaea;
$lighter-color: #f4f4f4;
$red-color: #ff4949;
$green-color: #13ce66;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #637588;
$light-gray-color: #99a7b7;
///////////////////// Theme Font ///////////////
$font-rubik: 'Rubik',
sans-serif;
$font-size: 14px;
///////////////////// Theme Width ///////////////
$width: 100%;
///////////////////// Media Query ///////////////
$break-sm: 576px;
$break-md: 767px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1800px;